* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    border-top: 15px solid #613813;
    margin: 0;
    font-family: 'Fregat_regular';
    color: #111111;
    background: url(../img/body_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
    font-size: 36px;
    color: #fc7256;
}
h2 {
    font-size: 34px;
    color: #0385f4;
    font-family: 'Fregat_bold';
}
h3 {
    font-size: 26px;
    color: #583b1c;
    font-family: 'Fregat_bold';
}
h4 {
    font-size: 24px;
    font-family: 'Fregat_bold';
}
h5 {
    font-size: 20px;
}
h6 {
    color: #909090;
    font-size: 14px;
    margin-bottom: 5px;
}
div.title h5 {
    display: inline-block;
    color: #fff;
    padding: 9px 40px;
    background: #916e52;
    position: relative;
    box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    margin-bottom: 10px;
    text-transform: uppercase;
}
div.title h5:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 20px;
    height: 100%;
    background: url(../img/title_after.png) no-repeat;
}
.content_inner {
    background: #fff;
    padding: 25px 45px;
    box-shadow: 3px 3px 0 rgba(79,79,79,.1);
    position: relative;
}
.content_inner div.title {
    position: absolute;
    left: 0;
    top: -20px;
}
.content_inner div.title h5 {
    background: #c8c0b8;
}
.content_inner div.title h5:after {
    background: url(../img/title_gray_after.png) no-repeat;
}
p, a, ul, li, input, label, button, textarea {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    font-size: 18px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.btn_brown,
a.btn_brown {
    text-decoration: none;
    text-align: center;
    font-family: 'Fregat_bold';
    text-transform: uppercase;
    display: inline-block;
    border: none;
    outline: none;
    color: white;
    border-radius: 4px;
    background: #452e16;
    background: -moz-linear-gradient(bottom, #3e2812 0%, #3e2812 50%, #6e5944 51%, #674f37 65%, #5f4327 80%, #583a1c 100%);
    background: -webkit-linear-gradient(bottom, #3e2812 0%, #3e2812 50%, #6e5944 51%, #674f37 65%, #5f4327 80%, #583a1c 100%);
    background: -o-linear-gradient(bottom, #3e2812 0%, #3e2812 50%, #6e5944 51%, #674f37 65%, #5f4327 80%, #583a1c 100%);
    background: -ms-linear-gradient(bottom, #3e2812 0%, #3e2812 50%, #6e5944 51%, #674f37 65%, #5f4327 80%, #583a1c 100%);
    background: linear-gradient(bottom, #3e2812 0%, #3e2812 50%, #6e5944 51%, #674f37 65%, #5f4327 80%, #583a1c 100%);
}
.btn_brown:hover {
    background: #452e16;
    background: -moz-linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: -webkit-linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: -o-linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: -ms-linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
}
a.btn_brown:hover,
a.btn_brown:focus {
    color: #fff;
}
/* Header
------------------------------------------------------------------------------------ */
.container {
    min-width: 303px;
}
.header {
    padding: 25px 0 0;
    background: url(../img/header_bottom.png) repeat-x bottom;
    margin-bottom: 45px;
    position: relative;
}
.header .logo {
    z-index: 1;
}
.header .logo a {
    display: inline-block;
}
.header .logo img {
    margin-top: 25px;
    width: 100%;
}
.header .navbar {
    margin-bottom: 0;
    padding-top: 15px;
}
.header .navbar-nav {
    margin-right: 0;
}
.header .navbar-header {
    width: 100%;
}
.header .navbar-collapse,
.header .nav_corect {
    padding: 0;
}
.header .navbar-nav {
    text-align: justify;
    width: 100%;
}
.header .navbar-nav:after {
    content: '';
    width: 100%;
    display: inline-block;
}
.header .navbar-nav li {
    float: none;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #494641;
    font-size: 16px;
    border-radius: 50%;
    font-family: 'Fregat_regular';
    margin-bottom: 10px;
}
.header .navbar-nav li a {
    border-radius: 50%;
    padding: 0px;
    color: #494641;
    width: 123px;
    height: 123px;
    font-family: 'Fregat_regular';
    font-weight: bold;
    font-size: 16px;
}
.header .navbar-nav li a:focus {
    background: none;
}
.header .navbar-nav li:last-child {
    margin-right: 0px;
}
.header .navbar-nav li .img {
    height: 78px;
    line-height: 78px;
    text-align: center;
}
.header .navbar-nav li .img img {
    vertical-align: middle;
}
.header .navbar-nav li .img .hover_icon {
    display: none;
}
.header .navbar-nav li a:hover {
    background: url(../img/nav_hover.png);
    background-size: cover;
    color: #FFF;
}
.header .navbar-nav li a:hover .icon {
    display: none;
}
.header .navbar-nav li a:hover .hover_icon {
    display: inline-block;
}
.header .navbar-toggle {
    float: none;
    left: 50%;
    font-size: 25px;
}
.header .contact {
    text-align: right;
    padding-top: 14px;
}
.header .contact h3 span {
    font-size: 14px;
}
.header .contact .btn_brown {
    margin-top: 25px;
    font-size: 18px;
    padding: 5px 25px;
    margin-bottom: 20px;
}
/* main content
----------------------------------------------------------------------------*/
.carousel {
}
.carousel .item img {
    width: 100%;
}
.carousel .carousel-caption {
    padding: 0;
    bottom: 5px;
}
.carousel .carousel-caption .info {
    height: 320px;
    width: 232px;
    background: url(../img/bg_info.png);
    text-align: left;
    padding: 25px 15px 0;
}

.carousel .carousel-caption .info .info_content {
    -o-transform: skewy(-5deg);
    -moz-transform: skewy(-5deg);
    -webkit-transform: skewy(-5deg);
    transform: skewy(-5deg);
    position: relative;
}
.carousel .carousel-caption .info .info_content h2 {
    font-size: 30px;
}
.carousel .carousel-caption .info .info_content h2 span {
    color: #038e7f;
}
.carousel .carousel-caption .info .windows {
    margin-top: 15px;
    padding: 10px 15px 25px;
    background: #0294ac;
    background: -moz-linear-gradient(left, #038f86 0%, #029195 20%, #0196b5 51%, #0198c7 65%, #009bd7 80%, #009ce1 100%);
    background: -webkit-linear-gradient(left, #038f86 0%, #029195 20%, #0196b5 51%, #0198c7 65%, #009bd7 80%, #009ce1 100%);
    background: -o-linear-gradient(left, #038f86 0%, #029195 20%, #0196b5 51%, #0198c7 65%, #009bd7 80%, #009ce1 100%);
    background: -ms-linear-gradient(left, #038f86 0%, #029195 20%, #0196b5 51%, #0198c7 65%, #009bd7 80%, #009ce1 100%);
    background: linear-gradient(left, #038f86 0%, #029195 20%, #0196b5 51%, #0198c7 65%, #009bd7 80%, #009ce1 100%);
}
.carousel .carousel-caption .info .info_content .windows p {
    font-size: 16px;
}
.carousel .carousel-caption .info .info_content .price {
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: -25px;
    right: 5px;
    background: #452e16;
    background: -moz-linear-gradient(right, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: -webkit-linear-gradient(right, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: -o-linear-gradient(right, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: -ms-linear-gradient(right, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: linear-gradient(right, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    padding: 10px 0 0;
    text-align: right;
}
.carousel .carousel-caption .info .info_content .price p {
    font-size: 16px;
    display: inline-block;
    font-family: 'Fregat_bold';
}
.carousel .carousel-caption .info .info_content .price p span {
    font-size: 12px;
}
.carousel .carousel-caption .info .info_content .price h4 {
    display: inline-block;
    font-size: 19px;
}
.main_content .carousel-control {
    height: 25px;
    width: 25px;
    background: url(../img/arrow.png) no-repeat ;
    top: 50%;
    position: absolute;
    opacity: 1;
}
.main_content .carousel-control.left_arrow {
    background-position: 0 0;
    left: 10px;
}
.main_content .carousel-control.left_arrow:hover {
    background-position: 0 -25px;
    opacity: 1;
}
.main_content .carousel-control.right_arrow {
    background-position: -25px 0;
    left: 100%;
    margin-left: -35px;
}
.main_content .carousel-control.right_arrow:hover {
    background-position: -25px -25px;
    opacity: 1;
}
/* describe
--------------------------------------------------*/
.describe {
    background: white;
    padding: 60px 20px 50px;
}
.describe h4 {
    margin-bottom: 55px;
    text-align: center;
    font-family: 'Fregat_regular';
}
.describe p {
    font-size: 16px;
    line-height: 20px;
}
.describe p span {
    color: #876e54;
    margin: 30px 0;
    display: block;
}
/* advantage
---------------------------------------------------*/
.advantage {
    text-align: center;
    background: white;
    padding: 50px 20px 0 20px;
    margin-bottom: 40px;
}
.advantage h1 {
    position: relative;
}
.advantage h1:after {
    content: '';
    position: absolute;
    width: 75px;
    border-top: 4px solid #f47e09;
    bottom: -20px;
    left: 50%;
    margin-left: -37px;
}
.advantage ul {
    margin-top: 100px;
}
.advantage ul li {
    list-style-type: none;
    float: left;
    width: 50%;
    display: table;
    text-align: left;
    padding-right: 15px;
    margin-bottom: 50px;
}
.advantage ul li img {
    margin-right: 20px;
}
.advantage ul li .img_container {
    display: table-cell;
    vertical-align: top;
    width: 94px;
}
.advantage ul li p {
   display: table-cell;
   vertical-align: middle;
   font-size: 18px;
   line-height: 20px;
   text-align: left;
}
/* Delivery
-------------------------------------------------------------------------------------------------------------------*/
.delivery {
    margin-top: 25px;
    background: none;
}
.delivery h1 {
    font-size: 30px;
    text-align: center;
}
.partners {
    box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    -web-box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    -moz-box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    -o-box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    -ms-box-shadow: 1px 2px 0 rgba(79,79,79,.1);
}
.delivery p {
    font-size: 16px;
    margin-top: 20px;
}
.partners {
    background: white;
    padding: 50px 0 0px;
    margin-top: 45px;
}
.partners .list {
    margin-bottom: 74px;
}
.partners .list div {
    height: 95px;
    position: relative;
    margin-bottom: 30px;
}
.partners .list:nth-child(4n) {
    clear: right;
}
.partners .list:nth-child(5n) {
    clear: left;
}
.partners .list img {
    position: absolute;
    bottom: 0px;
}
.partners p {
    display: block;
    margin-bottom: 20px;
    padding-left: 5px;
    line-height: 12px;
}
.partners a {
    text-decoration: underline;
}
.partners a:hover {
    text-decoration: none;
}
.partners a.company {
    font-size: 16px;
    color: #332e26;
}
.partners a.company:hover {
    color: #f45a04;
}
.partners a.other {
    font-size: 12px;
    color: #f45a04;
}
.partners a.other:hover {
    text-decoration: none;
}
.order {
    padding: 45px 0 265px;
}
.order p {
    font-size: 16px;
    line-height: 18px;
}
.order p span {
    color: #876e54;
    display: block;
    margin: 25px 0 15px;
}
.order h1 {
    text-align: center;
    margin-top: 72px;
    color: #fd7528;
}
.order h1 span {
    position: relative;
}
.order h1 span:before {
    content: '';
    position: absolute;
    width: 20px;
    border-top: 4px solid #fd7528;
    width: 80px;
    left: 38%;
    top: -15px;
}
/* Contacts
----------------------------------------------------------------------------*/
.contacts_data p {
    font-size: 14px;
}
.contacts_data p.title {
    color: #919191;
}
.contacts_data hr {
    margin-bottom: 0;
}
.contacts .map_container {
    height: 400px;
    box-shadow: 3px 3px 0 rgba(79,79,79,.1);
    margin-bottom: 40px;
}
.contacts .map_container iframe {
    width: 100%;
    height: 400px;
}
.contacts .contacts_team {
    margin-bottom: 75px;
}
.contacts .contacts_team .contacts_team_item {
    margin: 25px 0;
}
.contacts .contacts_team .image_container {
    float: left;
    margin-right: 18px;
}
.contacts .contacts_team .image_container img {
    width: 130px;
    height: 160px;
}
.contacts .contacts_team .team_data {
    padding-left: 148px;
}
.contacts .contacts_team .team_data p {
    font-size: 16px;
}
.contacts .contacts_team .team_data p.post {
    font-size: 14px;
    color: #707070;
}
.contacts .contacts_team .team_data h5 {
    margin: 10px 0 20px;
}
/* Sidebar
---------------------------------------------------------------------------------------*/
.sidebar_open {
    display: table;
    cursor: pointer;
    margin-left: 25px;
}
.sidebar_open button {
    width: 25px;
    height: 30px;
    font-size: 25px;
    background: none;
    border: none;
    outline: none;
    display: table-cell;
    vertical-align: middle;
}
.sidebar_open span {
    font-size: 14px;
    font-family: 'Fregat_bold';
    text-transform: uppercase;
    color: #494641;
    display: table-cell;
    padding-top: 4px;
    vertical-align: middle;
    padding-left: 15px;
}
.sidebar_open:hover * {
    color: #FF5D00;
}
.sidebar {
    position: relative;
}
.sidebar .popup {
    display: none;
}
.sidebar > ul > li {
    position: relative;
    overflow: hidden;
    padding-left: 7px;
    margin-bottom: 20px;
}
.sidebar > ul > li:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background: #916E52;
    left: 7px;
    top: 10px;
    opacity: 1;
}
.sidebar > ul > li.open:before {
    content: '';
    opacity: 1;
}
.sidebar > ul > li.open .popup {
    display: block;
}
.sidebar > ul > li.closes:before {
    content: '';
    opacity: 0;
    transition-delay: .4s;
    -o-transition-delay: .4s;
    -webkit-transition-delay: .4s;
    -ms-transition-delay: .4s;
    -moz-transition-delay: .4s;
}
.sidebar .popup_open {
    display: inline-block;
    position: relative;
    line-height: 22px;
    max-width: 255px;
    padding-left: 28px;
}
.sidebar .popup_open.new a:after {
    content: 'new';
    position: relative;
    bottom: 2px;
}
.sidebar .popup_open a {
    font-family: 'Fregat_bold';
    color: #000;
    font-size: 19px;
    text-decoration: none;
}
.sidebar .popup_open:before {
    content: '';
    width: 16px;
    height: 18px;
    background: url(../img/sidebar_icon.png);
    position: absolute;
    left: -7px;
    top: 0px;
}
.sidebar .open .popup_open:before {
    content: '';
    background-position: 0 -18px;
}
.sidebar .empty .popup_open:before {
    content: '';
    background-position: 0 0;
}
.sidebar > ul > li.empty:before {
    content: '';
    opacity: 0;
}
.sidebar .popup li {
    margin-top: 12px;
}
.sidebar .popup li a {
    display: block;
    line-height: 32px;
    font-size: 17px;
    text-decoration: none;
    color: #583b1c;
    padding-left: 34px;
    width: 275px;
    border-radius: 0 5px 5px 0;
}
.sidebar .new a:after {
    content: 'new';
    width: 40px;
    line-height: 19px;
    padding-bottom: 1px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 12px;
    background: #E50000;
    background: linear-gradient(top, #FF0000, #E50000);
    background: -o-linear-gradient(top, #FF0000, #E50000);
    background: -moz-linear-gradient(top, #FF0000, #E50000);
    background: -ms-linear-gradient(top, #FF0000, #E50000);
    background: -webkit-linear-gradient(top, #FF0000, #E50000);
    color: #fff;
    display: inline-block;
    text-align: center;
    text-indent: 0;
    border-radius: 2px;
}
.sidebar .popup li a:hover {
    background: #916E52;
    color: #fff;
}

.sidebar_left {
    position: relative;
    padding-bottom: 40px;
}
.sidebar_left .cart_link {
    position: absolute;
    top: -15px;
    right: 35px;
    border-radius: 50%;
    margin: 3px;
    border: none;
}
.sidebar_left .cart_link:hover {
    border: 3px solid #ff6513;
    margin: 0;
}

/* Sidebar right
---------------------------------------------------------------------------------------*/
.sidebar_right {
    display: inline-block;
    float: right;
}
.sidebar_right .info_container .info_btn {
    width: 74px;
    height: 74px;
    background: url(../img/nav_hover.png);
    background-size: cover;
    margin: auto;
    line-height: 74px;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
}
.sidebar_right .info_container .info_btn img {
    vertical-align: middle;
}
.sidebar_right .info {
    width: 276px;
    background: #fff;
    border-bottom: 3px solid #CBC1BA;
    border-right: 2px solid #CBC1BA;
    border-radius: 5px;
    position: relative;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 30px;
}
.sidebar_right .info h1 {
    font-size: 16px;
    color: #fff;
    font-family: 'Fregat_bold';
    line-height: 36px;
    padding-left: 15px;
    background: #9FA3A6;
}
.sidebar_right .info h1.first {
    border-radius: 5px 5px 0 0;
}
.sidebar_right .info.action h1 {
    background: #ff5d00;
    background: -moz-linear-gradient(45deg,  #ff5d00 0%, #ff9600 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ff5d00), color-stop(100%,#ff9600));
    background: -webkit-linear-gradient(45deg,  #ff5d00 0%,#ff9600 100%);
    background: -o-linear-gradient(45deg,  #ff5d00 0%,#ff9600 100%);
    background: -ms-linear-gradient(45deg,  #ff5d00 0%,#ff9600 100%);
    background: linear-gradient(45deg,  #ff5d00 0%,#ff9600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5d00', endColorstr='#ff9600',GradientType=1 );
}
.sidebar_right .info.action .info_body {
    padding-top: 20px;
    padding-bottom: 25px;
}
.sidebar_right .info.action .info_body a {
    margin-bottom: 15px;
}
.sidebar_right .info.action:before {
    content: '';
    border-bottom-color: #FF7D00;
}
.sidebar_right .info:before {
    content: '';
    border: 18px solid transparent;
    border-bottom-color: #9FA3A6;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: 100%;
}
.sidebar_right .info h1 span {
    float: right;
    padding-right: 25px;
}
.sidebar_right .info p {
    color: #000;
    font-size: 16px;
    line-height: 20px;
}
.sidebar_right .info p span {
    color: #f46103;
}
.sidebar_right .info a {
    color: #f46103;
    display: inline-block;
    font-size: 16px;
}
.sidebar_right .info table {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 15px;
}
.sidebar_right .info table td {
    font-size: 16px;
    padding-top: 10px;
}
.sidebar_right .info table td:first-child {
    font-family: 'Fregat_regular';
    color: #525252;
    color: #000;
}
.sidebar_right .info table td:nth-child(2) {
    font-family: 'Fregat_Bold';
    color: #f46103;
    text-align: right;
}
.sidebar_right .info .btn_container {
    border-top: 1px solid #E8E8E8;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sidebar_right .info .info_body {
    padding-left: 15px;
    padding-right: 15px;
}
.sidebar_right .info .cart {
    margin-top: 4px;
}
.sidebar_right .info .cart:after {
    content: url(../img/cart_arrow.png);
    margin-left: 12px;
}
.sidebar_right .info .btn_brown {
    width: 85px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
}
/* Catalog
-------------------------------------------------------------------------------------*/
.catalog_container {
    padding-bottom: 200px;
}
.catalog .title h5,
.catalog .title .breadcrumb {
    float: left;
}
.catalog .title .breadcrumb {
    padding-top: 14px;
    background: none;
    margin-left: 4px;
    padding-right: 0;
    margin-bottom: 0;
}
.catalog .title .breadcrumb li a {
    font-size: 14px;
    color: #876e54;
    text-decoration: underline;
}
.catalog .breadcrumb>li+li:before {
    content: "/\00a0";
    color: #876e54;
    padding-left: 0;
    padding-right: 2px;
}
.catalog .title .breadcrumb li a:hover {
    color: #f45e03;
}
.catalog ul li {
    float: left;
    box-shadow: 2px 3px 0 0 rgba(135,135,135,.1);
    margin-right: 4%;
    margin-top: 25px;
}

.catalog ul li:nth-child(4n) {
    margin-right: 0;
}
.catalog ul li a {
    display: block;
    width: 202px;
    height: 447px;
    background: #fff;
    padding: 2px;
    text-decoration: none;
    position: relative;
    overflow: hidden;

}
.catalog ul li a:hover {
    background: #F7F7F7;
}
.catalog ul li .img img {
    width: 100%;
    height: 276px;
}
.catalog ul li p {
    margin-left: 10px;
    margin-right: 10px;
}
.catalog ul li .name {
    color: #f46103;
    font-size: 20px;
    margin-top: 12px;
}
.catalog ul li .info {
    font-size: 15px;
    color: #000;
    margin-top: 8px;
    line-height: 18px;
}
.catalog ul li .price {
    color: #332e26;
    font-size: 20px;
    line-height: 25px;
    background: #EDEDED;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 20px;
    padding-top: 2px;
}
.catalog ul li .price span {
    font-size: 14px;
}
.catalog ul li .have {
    color: #909090;
    font-size: 12px;
    position: absolute;
    right: 7px;
    bottom: 11px;
}
.catalog ul li.hit a:after,
.catalog ul li.action a:after {
    content: 'хит';
    height: 40px;
    width: 50%;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Fregat_bold';
    text-align: center;
    background: #00b080;
    background: -moz-linear-gradient(-45deg,  #00b080 0%, #009c3e 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#00b080), color-stop(100%,#009c3e));
    background: -webkit-linear-gradient(-45deg,  #00b080 0%,#009c3e 100%);
    background: -o-linear-gradient(-45deg,  #00b080 0%,#009c3e 100%);
    background: -ms-linear-gradient(-45deg,  #00b080 0%,#009c3e 100%);
    background: linear-gradient(135deg,  #00b080 0%,#009c3e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b080', endColorstr='#009c3e',GradientType=1 );
    position: absolute;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    top: -1px;
    right: -31px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.35);
}
.catalog ul li.action a:after {
    content: 'акция';
    line-height: 52px;
    background: #ff0247;
    background: -moz-linear-gradient(-45deg,  #ff0247 1%, #ff4d00 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#ff0247), color-stop(100%,#ff4d00));
    background: -webkit-linear-gradient(-45deg,  #ff0247 1%,#ff4d00 100%);
    background: -o-linear-gradient(-45deg,  #ff0247 1%,#ff4d00 100%);
    background: -ms-linear-gradient(-45deg,  #ff0247 1%,#ff4d00 100%);
    background: linear-gradient(135deg,  #ff0247 1%,#ff4d00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0247', endColorstr='#ff4d00',GradientType=1 );
}
.catalog ul li.action .price {
    background: #FF0346;
    color: #fff;
}
nav.pages {
    margin-top: 48px;
    padding-top: 24px;
    border-top: 2px solid #BCBCBC;
    padding-bottom: 50px;
}
.pagination {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 4px;
    height: 26px;
    padding-top: 3px;
}
.pagination li {
    margin-right: 12px;
    float: left;
}
.pagination li a {
    color: #332e25;
    font-size: 16px;
    padding: 0;
    background: none;
    border: none;
}
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus{
    background: none;
}
.pagination li a:hover,
.pagination li a:focus {
    background: none;
    color: inherit;
}
.pagination li a:hover {
    color: #f46003;
}
.pagination li:last-child:after {
    content: '...';
    font-size: 16px;
    color: #878685;
}
nav.pages .last_page {
    width: 28px;
    line-height: 26px;
    height: 26px;
    border: 1px solid #B6B6B6;
    text-align: center;
    font-size: 16px;
    color: #878685;
    display: inline-block;
    background: #fff;
    text-decoration: none;
    margin-left: 17px;
}

/* Cart
-------------------------------------------------------------------------------------*/
.cart_container .content_inner {
    margin-bottom: 40px;
}
.cart_container .main_cart a.btn_brown {
    text-transform: lowercase;
    font-size: 16px;
    font-family: 'Fregat_regular';
    padding: 6px 25px;
}
.cart_container .main_cart a.accept {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}
.cart_container .total_container {
    padding: 10px 0;
    position: relative;
}
.cart_container .total_container p {
    font-size: 14px;
    margin: 5px 0;
}
.cart_container .total_container .btn_back_container {
    position: absolute;
    left: 0;
    top: 105px;
}
.cart_container .total_container a.back {
    background: #927054;
    background: -moz-linear-gradient(bottom, #927054 0%, #ae9581 50%, #bfad9c 51%, #c6b4a7 65%, #cbbcb0 80%, #cdc0b5 100%);
    background: -webkit-linear-gradient(bottom, #927054 0%, #ae9581 50%, #bfad9c 51%, #c6b4a7 65%, #cbbcb0 80%, #cdc0b5 100%);
    background: -o-linear-gradient(bottom, #927054 0%, #ae9581 50%, #bfad9c 51%, #c6b4a7 65%, #cbbcb0 80%, #cdc0b5 100%);
    background: -ms-linear-gradient(bottom, #927054 0%, #ae9581 50%, #bfad9c 51%, #c6b4a7 65%, #cbbcb0 80%, #cdc0b5 100%);
    background: linear-gradient(bottom, #927054 0%, #ae9581 50%, #bfad9c 51%, #c6b4a7 65%, #cbbcb0 80%, #cdc0b5 100%);
}
.cart_container .total_container a.back:hover {
    background: #452e16;
    background: -moz-linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: -webkit-linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: -o-linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: -ms-linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
    background: linear-gradient(bottom, #f19300 0%, #f28001 50%, #f37a02 51%, #f37208 65%, #f36604 80%, #f45e03 100%);
}
.cart_container .total_container .total_inner {
    float: right;
    border: 1px solid #d3d3d3;
    padding: 20px 30px;
}
.cart_container .total_container .total_inner p.itog {
    float: left;
}
.cart_container .total_container .total_inner p.summ {
    background: #ff5b00;
    font-size: 20px;
    color: #fff;
    padding: 0 8px;
}
.cart_container .total_container .total_inner .total {
    padding-left: 100px;
}

.cart_container table.cart {
    width: 100%;
}
.cart_container table.cart tr td {
    padding: 12px 3px;
    word-break: break-all;
}
.cart_container table.cart tr td .clearfix {
    float: left;
}
.cart_container table.cart tr td .image_container {
    margin-right: 15px;
    padding: 5px 8px;
    border: 1px solid #e5e1de;
    float: left;
}
.cart_container table.cart tr td .image_container img {
    width: 100%;
}
.cart_container table.cart tr td .link {
    display: table;
    min-height: 105px;
}
.cart_container table.cart tr td .link a {
    color: #000;
}
.cart_container table.cart tr td .link a:hover {
    color: #ff5d00;
}
.cart_container table.cart tr td .link .link_inner {
    display: table-cell;
    vertical-align: middle;
}
.cart_container table.cart tr td a.close {
    width: 26px;
    height: 26px;
    background: url(../img/close.png) no-repeat;
    opacity: .7;
}
.cart_container table.cart tr td a.close:hover {
    background-position: 0 -29px;
    opacity: 1;
}
.cart_container table.cart thead tr td {
    color: #919191;
}
.cart_container table.cart tbody tr td {
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    font-size: 16px;
}
.cart_container table.cart tbody tr td:last-child {
    border-right: none;
}
.cart_container table.cart tbody tr:last-child td {
    border-bottom: 2px solid #916e52;
}
.cart_container table.cart tbody tr td.count {
    width: 70px;
}
.cart_container table.cart tbody tr td.summ {
    font-family: 'Fregat_bold';
}
.cart_container table.cart tbody tr td input {
    width: 100%;
    border: none;
    background: #eeeeee;
    padding: 0 8px;
}

.cart_container .presonal_data {
    padding-top: 60px;
    padding-bottom: 50px;
}
.cart_container .presonal_data form {
    width: 290px;
}
.cart_container .presonal_data form label {
    color: #919191;
    margin-bottom: 8px;
}
.cart_container .presonal_data form label span {
    color: #ff5b00;
    margin-left: 4px;
}
.cart_container .presonal_data form input[type="text"] {
    width: 100%;
    height: 25px;
    margin-bottom: 16px;
    padding: 0 8px;
    border: 1px solid #d8d8d8;
}
.cart_container .presonal_data form input[type="submit"] {
    text-transform: lowercase;
    font-size: 16px;
    font-family: 'Fregat_regular';
    padding: 6px 25px;
    margin-top: 20px;
}

/* Action
------------------------------------------------------------------------------------*/
.action_container {
    margin-bottom: 40px;
}
.action_container .proposition {
    margin-top: 10px;
    margin-bottom: 30px;
    background: white;
    padding: 25px 100px 45px 50px;
    box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    -web-box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    -moz-box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    -o-box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    -ms-box-shadow: 1px 2px 0 rgba(79,79,79,.1);
}
.action_container .proposition h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #f46103;
}
.action_container .proposition h1 img {
    margin: 15px;
    margin-top: 4px;
    margin-left: 0;
    float: left;
}
.action_container .proposition .pro {
    margin-bottom: 30px;
}
.action_container .proposition .pro span {
    font-family: 'Fregat_bold';
}
.action_container .proposition .cpmplect {
    font-size: 16px;
}
.action_container .proposition ul {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.action_container .proposition ul li {
    list-style-type: disc;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}
.action_container .proposition .for_action {
    font-family: 'Fregat_bold';
    font-size: 16px;
    margin-bottom: 15px;
}
.action_container .proposition .describe_action {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.action_container .block {
    padding-right: 35px;
    padding: 20px 25px 40px 40px;
    background: white;
    box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    -web-box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    -moz-box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    -o-box-shadow: 1px 2px 0 rgba(79,79,79,.1);
    -ms-box-shadow: 1px 2px 0 rgba(79,79,79,.1);
}
.action_container .block h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #f46103;
}
.action_container .block .block_price h1 div {
    float: left;
    height: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.action_container .block h1 img {
    margin-top: -5px;
}
.action_container .block .example {
    margin-bottom: 20px;
}
.action_container .block .example div {
    padding: 2px;
    border: 1px solid #f2e5c5;
    text-align: center;
}
.action_container .block .example img {
    width: 100%;
}
.action_container .block .block_price {
}

.action_container .block .component {
    margin: 20px 0px;
}
.action_container .block .component p {
    margin-right: 35px;
    float: left;
    font-family: 'Fregat_bold';
}
.action_container .block .component a {
    font-size: 18px;
    color: white;
    background: #f55204;
    padding: 10px 15px 10px;
    font-family: 'Fregat_bold';
}
.action_container .block .component a:hover {
    text-decoration: none;
    opacity: 0.8;
}
/* Order card
-------------------------------------------------------------------------------------*/
.sliderkit,
.photosgallery-std .sliderkit-panel,
.photosgallery-std .sliderkit-nav {
    width: 260px;
}
.sliderkit {
    height: 537px;
}
.photosgallery-std .sliderkit-nav {
    background: none;
    padding-left: 0;
}
.sliderkit .sliderkit-nav-clip {
    margin-left: 0;
}
.photosgallery-std .sliderkit-nav-clip ul li a {
    width: 57px;
    height: 67px;
    border: 1px solid #E1E1E1;
    line-height: 63px;
    margin-right: 6px;
}
.photosgallery-std .sliderkit-nav-clip ul li a img {
    vertical-align: middle;
}
.photosgallery-std .sliderkit-panel {
    height: 446px;
    text-align: center;
    line-height: 446px;
    border: 1px solid #E1E1E1;
    background: #fff;
}
.photosgallery-std .sliderkit-panel img {
    vertical-align: middle;
}
.photosgallery-std .sliderkit-nav .sliderkit-nav-next {
    right: 1px;
    top: 50%;
    margin-top: -16px;
}
.photosgallery-std .sliderkit-nav .sliderkit-nav-next a {
    width: 4px;
    height: 32px;
    background: url(../img/order/arrow.png);
    outline: none;
}
.photosgallery-std .sliderkit-nav .sliderkit-nav-next a,
.photosgallery-std .sliderkit-nav .sliderkit-nav-next a:focus {
    background-position: 0 0;
}
.photosgallery-std .sliderkit-nav .sliderkit-nav-next a:hover {
    background-position: 0 -32px;
}
.order_card {
    padding: 40px 0 125px 20px;
    background: white;
}
.order_card .slider {
    width: 260px;
    float: left;
    margin: 20px;
}
.order_card .order_example {
    border: 1px solid #e0e0e0;
    padding: 20px 0;
    margin-bottom: 20px;
}
.order_card .order_example img {
    margin: auto;
    display: block;
}
.order_card .right_content {
    width: 800px;
    float: left;
}
.order_card .right_content .all_desc {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.order_card .right_content .first_describe {
    width: 290px;
    float: left;
}
.order_card .right_content .first_describe h6 {
    margin-bottom: 3px;
}
.order_card .right_content .first_describe .name {
    font-family: 'Fregat_bold';
    color: #332e25;
    margin-bottom: 8px;
}
.order_card .right_content .first_describe .size {
    font-size: 16px;
    color: #332e25;
    line-height: 18px;
}
.order_card .right_content .first_describe .proposal {
    border: 1px solid #e0e0e0;
    width: 290px;
    height: 123px;
    margin-top: 55px;
}
.order_card .right_content .proposal table {
    height: 123px;
    width: 290px;
    text-align: center;
}
.order_card .right_content .proposal table tr td div {
    display: inline-block;
    text-align: left;
}
.order_card .right_content .proposal table tr td p {
    font-size: 14px;
}
.order_card .right_content .proposal table tr td .canvas {
    background: #ededed;
    display: inline-block;
}
.order_card .right_content .proposal table tr td .set {
    background: #f45b04;
    color: white;
    display: inline-block;
}
.order_card .right_content .proposal table tr td .canvas,
.order_card .right_content .proposal table tr td .set {
    font-size: 20px;
    padding: 1px 9px 0;
}
.order_card .right_content .proposal table tr td .canvas span,
.order_card .right_content .proposal table tr td .set span {
    font-size: 14px;
}
.order_card .right_content .second_describe {
    float: left;
    padding-left: 60px;
}
.order_card .right_content .second_describe .order_list {
    font-size: 16px;
    line-height: 19px;
}
.order_card .right_content .second_describe h6.compl {
    margin-top: 45px;
}
.order_card .right_content .second_describe .fotos {
    padding-top: 5px;
}
.order_card .right_content .second_describe .fotos .foto {
    width: 190px;
    float: left;
    margin-right: 50px;
    margin-bottom: 5px;
}
.order_card .right_content .second_describe .fotos .foto:last-child {
    margin-right: 0px;
}
.order_card .right_content .second_describe .fotos .foto div {
    width: 55px;
    height: 65px;
    border: 1px solid #e0e0e0;
    margin-right: 15px;
    float: left;
}
.order_card .right_content .second_describe .fotos p {
    font-size: 13px;
    line-height: 16px;
}
.order_card .botom_order {
    width: 440px;
    float: left;
}
.order_card .botom_order .variant {
    width: 140px;
    float: left;
}
.order_card .botom_order .chose {
    width: 40px;
    height: 37px;
    border: 1px solid #e0e0e0;
    padding: 2px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.order_card .botom_order .chose img {
    width: 36;
    height: 31;
}
.order_card .botom_order .chose:hover {
    border: 1px solid #f45d03;
}
.order_card .botom_order .chose.active {
    border: 1px solid #f45d03;
}
.order_card .botom_order .number {
    width: 85px;
    float: left;
}
.order_card .botom_order .number input {
    height: 35px;
    width: 45px;
    outline: none;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}
.order_card .botom_order .number input::-webkit-input-placeholder {
    color: #000000;
}
.order_card .botom_order .number input:-moz-input-placeholder {
    color: #000000;
}
.order_card .botom_order .number input:-o-input-placeholder {
    color: #000000;
}
.order_card .botom_order .number input:-ms-input-placeholder {
    color: #000000;
}
.order_card .botom_order button {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 20px 8px;
}
/* Footer
-------------------------------------------------------------------------------------*/
.footer {
    width: 100%;
    background: white;
    padding: 22px 0 15px;
}
.footer p {
    font-size: 12px;
    color: #000000;
}
.footer p a {
    color: #f55204;
}
.footer .follows {
    text-align: right;
}
.footer .follows a {
    margin-left: 25px;
}
/* media
---------------------------------------------------------------------------------------*/

.wrap {
    margin: auto;
    padding: 0 15px;
}
.container {
    background: rgba(255,255,255,.88);
}
@media screen and (min-width: 1230px) {
    .container,
    .wrap { width: 100%; }
    .container {
        padding: 0 30px;
    }
}
@media screen and (min-width: 1700px) {
    .container { width: 1645px;
    }
    .wrap {
        width: 1675px;
    }
}

@media screen and (max-width: 1675px) {
    .header .navbar-nav li a {
        height: 103px;
        width: 103px;
        font-size: 14px;
    }
    .header .navbar-nav li a .img {
        height: 68px;
        line-height: 68px;
    }
    .sidebar .popup_open {
        padding-left: 15px;
    }
    .sidebar .popup li a {
        padding-left: 20px;
        width: 100%;
    }
    .sidebar_right .info {
        width: 100%;
    }
    .advantage ul li {
        width: 100%;
    }
    .catalog ul li {
        margin-right: 3%;
    }
    .order_card .right_content {
        width: 450px;
    }
    .order_card .right_content .first_describe {
        width: 100%;
    }
    .order_card .right_content .first_describe .proposal {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1555px) {
    .catalog ul {
        width: 690px;
        margin: auto;
    }
    .catalog ul li,
    .catalog ul li:nth-child(4n) {
        margin-right: 42px;
    }
    .catalog ul li:nth-child(3n) {
        margin-right: 0;
    }
    .order_card .right_content {
        width: 450px;
    }
    .order_card .right_content .first_describe {
        width: 100%;
    }
    .order_card .right_content .first_describe .proposal {
        margin-bottom: 20px;
    }
    .order_card .right_content .second_describe {
        padding-left: 0px;
    }
}
@media screen and (max-width: 1360px) {
    .header .contact h3 {
        font-size: 24px;
    }
    .header .navbar-nav li a {
        height: 93px;
        width: 93px;
        font-size: 12px;
    }
    .header .navbar-nav li a .img {
        height: 62px;
        line-height: 62px;
    }
    .order_card .right_content {
        width: 390px;
    }
    .order_card .botom_order {
        width: 390px;
    }
    .order_card .botom_order button {
        float: left;
        clear: left;
    }
}
@media screen and (max-width: 1229px) {
    .header .navbar-nav li a {
        height: 123px;
        width: 123px;
        font-size: 16px;
    }
    .advantage ul li {
        width: 50%;
    }
    .header .navbar-nav li a .img {
        height: 78px;
        line-height: 78px;
    }
    .header .logo {
        margin-bottom: 40px;
    }
    .header .logo img {
        width: 210px;
        margin: 0;
    }
    .header .contact {
        position: absolute;
        top: 25px;
        right: 0;
        padding-top: 0;
    }
    .header .contact h3 {
        font-size: 18px;
    }
    .header .contact h3 span {
        font-size: 12px;
    }
    .header .contact .btn_brown {
        margin: 10px 0 0;
        font-size: 14px;
    }
    .sidebar_right .info {
        width: 276px;
    }
    .sidebar_right {
        float: none;
        display: block;
    }
    .catalog {
        margin-top: 50px;
    }
    .catalog ul {
        width: 100%;
    }
    .catalog ul li,
    .catalog ul li:nth-child(3n) {
        margin-right: 43px;
    }
    .catalog ul li:nth-child(4n) {
        margin-right: 0;
    }

    div.title_gray {
        margin-top: 0;
    }

    .partners .list img {
        width: auto;
    }
    .sidebar {
        position: absolute;
        top: -25px;
        z-index: 2222;
        width: 460px;
    }
    .sidebar > ul {
        background: rgba(104,65,30,.95);
        padding-left: 43px;
        padding-top: 45px;
        padding-bottom: 55px;
    }
    .sidebar .sb_close {
        width: 10px;
        height: 10px;
        position: absolute;
        background: url(../img/sb_close.png) no-repeat;
        right: 18px;
        top: 18px;
        background-size: 10px auto;
    }
    .sidebar .sb_close:hover {
        background-position: 0 -10px;
    }
    .sidebar .popup_open {
        padding-left: 28px;
    }
    .sidebar .popup_open a {
        color: #fff;
    }
    .sidebar .popup li a {
        color: #a88e73;
        width: 273px;
        line-height: 34px;
    }
    .sidebar .popup li a:hover {
        color: #fff;
    }
    .sliderkit {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1021px) {
    .catalog ul {
        padding-left: 7px;
    }
    .catalog ul li:nth-child(2n),
    .catalog ul li {
        margin-right: 50px;
    }
    .catalog ul li:nth-child(3n) {
        margin-right: 0;
    }
    .partners .list:nth-child(3n) {
        clear: right;
    }
    .partners .list:nth-child(4n) {
        clear: left;
    }
    .partners .list:nth-child(4n) {
        clear: none;
    }
    .partners .list:nth-child(5n) {
        clear: none;
    }
/*    .example {
        width: 100%;
        text-align: center;
    }
    .example {
        width: 100%;
        text-align: center;
    }
    .action_container .block .block_price {
        width: 100%;
    }*/
    .order_card .slider {
        margin: auto;
        float: none;
    }
    .order_card .right_content {
        float: none;
        margin: auto;
    }
    .partners {
        padding-left: 40px;
    }
    .order {
        padding: 45px 0 100px;
    }
}
@media screen and (max-width: 797px) {
    .header .logo {
        float: left;
        margin: 0;
    }
    .header .logo img {
        width: 215px;
        margin-left: 40px;
    }
    .header .navbar-nav {
        padding-top: 35px;
    }
    .header .contact {
        text-align: center;
        position: static;
        margin-bottom: 20px;
    }
    .header .contact h3 {
        font-size: 26px;
    }
    .header .navbar-nav {
        text-align: left;
    }
    .header .navbar-nav li {
        display: block;
        margin: auto;
        width: 123px;
    }
    .header .navbar-nav li:last-child {
        margin-right: auto;
    }
    .header .navbar-nav li a {
        font-size: 24px;
        height: auto;
        margin-bottom: 30px;
        line-height: 24px;
        font-family: 'Fregat_bold'
    }
    .header .navbar-nav li a:hover {
        background: none;
        color: inherit;
    }
    .header .navbar-nav li a .img {
        display: none;
    }
    .header .navbar-nav:after {
        content: none;
    }
    .header .navbar {
        padding-top: 0;
    }
    .header .navbar-toggle {
        margin-left: 0;
        padding: 0;
    }
    .header .navbar-header,
    .header .nav {
        margin: 0;
    }
    .header .navbar-header button {
        display: block;
        margin-left: auto;
        margin-top: 15px;
        left: 0;
    }
    .header .navbar-collapse {
        clear: both;
        position: relative;
    }
    .header .navbar-collapse .btn_brown {
        padding: 5px 25px;
        font-size: 18px;
        width: 222px;
        margin: auto;
        margin-top: 55px;
        margin-bottom: 15px;
    }
    .sidebar_open {
        margin-left: 5px;
    }
    .sidebar {
        width: 100%;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .sidebar_open span {
        font-size: 18px;
        padding-top: 5px;
    }
    .sidebar > ul {
        padding-top: 95px;
        padding-right: 15px;
    }

    .sidebar .sb_close {
        top: 30px;
        right: 55px;
        width: 21px;
        height: 21px;
        background-size: 21px auto;
    }
    .sidebar .sb_close:hover {
        background-position: 0 -22px;
    }
    .sidebar .popup_open {
        max-width: 100%;
    }
    .sidebar .popup_open a {
        font-size: 26px;
        line-height: 32px;
    }
    .sidebar .popup_open:before {
        content: '';
        top: 6px;
    }
    .sidebar > ul > li:before {
        content: '';
        top: 14px;
    }
    .sidebar .popup li a {
        font-size: 24px;
        padding-bottom: 11px;
        padding-top: 11px;
        width: 100%;
    }
    .sidebar_left .cart_link {
        right: 10px;
    }
    .advantage ul li {
        height: auto;
    }
    .footer .follows  {
        margin-top: 25px;
    }
    .advantage ul li {
        width: 100%;
    }
    .catalog ul {
        width: 454px;
        padding-left: 0;
        margin: auto;
    }
    .catalog ul li:nth-child(3n),
    .catalog ul li {
        margin-right: 50px;
    }
    .catalog ul li:nth-child(2n) {
        margin-right: 0;
    }
    .action_container .block {
        padding: 20px 10px 40px
        }
    .action_container .proposition {
        padding-left: 10px;
        padding-right: 10px;
    }

    .contacts .contacts_team .image_container {
        float: none;
        text-align: center;
        margin-right: 0;
    }
    .contacts .contacts_team .team_data {
        padding-left: 0;
        text-align: center;
        margin-top: 25px;
    }
    .cart_container table.cart tbody tr td.count {
        width: 35px;
    }
    .cart_container table.cart tbody tr td.count input {
        padding: 0;
        text-align: center;
    }
    .cart_container table.cart tr td  .clearfix {
        width: 100%;
    }
    .cart_container table.cart tr td .image_container {
        margin: auto;
        float: none;
        width: 60px;
    }
    .cart_container table.cart tr td .link {
        width: 100%;
        min-height: 50px;
        text-align: center;
    }
    .cart_container .total_container {
        padding-top: 15px;
    }
    .cart_container .total_container .total_inner {
        float: none;
    }
    .cart_container .total_container .total_inner .total {
        padding-left: 50%;
    }
    .cart_container .total_container .btn_back_container {
        position: static;
        margin-top: 0;
        text-align: center;
    }
    .cart_container .btn_accept_container {
        text-align: center;
    }
    .cart_container .btn_accept_container a.accept {
        float: none;
    }
    .partners {
        padding: 30px 0 0;
    }
    .partners .list {
        padding: 0 30px;
        margin-bottom: 30px;
    }
    .partners .list img {
        width: auto;
    }
    .partners .list:nth-child(2n) {
        clear: right;
    }
    .partners .list:nth-child(2n+1) {
        clear: left;
    }
    .example {
        text-align: center;
    }
    .action_container .block .example div {
        width: 250px;
        margin: auto;
    }


}
@media screen and (max-width: 600px) {
    .catalog ul {
        width: 202px;
        margin: auto;
    }
    .order_card {
        padding: 10px;
        padding-bottom: 125px;
    }
    .order_card .slider {
        width: 260px;
    }
    .order_card .right_content {
        width: 100%;
    }
    .order_card .right_content .first_describe {
        width: 100%;
    }
    .order_card .right_content .foto {
        margin-bottom: 10px;
    }
    .order_card .right_content .botom_order {
        text-align: center;
        width: 100%;
    }
    .order_card .right_content .botom_order button {
        float: none;
    }
    .order_tit h5 {
        font-size: 16px;
        height: 40px;
    }
    .partners .list {
        padding: 0 15px;
    }
}
@media screen and (max-width: 516px) {
    .cart_container .content_inner {
        padding-left: 15px;
        padding-right: 15px;
    }
    .cart_container table.cart tbody tr td {
        font-size: 13px;
    }
    .cart_container .presonal_data form {
        width: 100%;
    }
    .cart_container .presonal_data .title h5 {
        padding: 9px 10px;
        font-size: 18px;
    }
    .action_container .block .component p {
        font-size: 14px;
        margin-right: 10px;
    }
    .action_container .block .component a {
        font-size: 14px;
    }
    .action_container .block .block_price h1 div {
        margin-bottom: 60px;
    }
    .order_card .right_content .first_describe .proposal,
    .order_card .right_content .first_describe .proposal table {
        width: 100%;
    }
    .header .logo img {
        margin-left: 0;
    }
    .header .navbar-header button {
        margin-right: 0;
    }
    .sidebar > ul {
        padding-left: 15px;
    }
    .action_container .block .example div {
        width: 100%;
        margin: auto;
    }
    .cart_container .presonal_data .title h5 {
        font-size: 16px;
    }
    .partners .list img {
        width: 100%;
    }
}
@media screen and (max-width: 350px) {
    .wrap {
        padding: 0;
    }
}
@media screen and (max-width: 335px) {
    .advantage ul li p {
        font-size: 16px;
    }
}
